body {
	margin: 0px;
	padding: 0px;
}
.container {
	background-color: #2b2f31;
	width: 100%;
	display: flex;
	flex-direction: row;
}

.colum {
	width: 25%;
	margin-left: 5%;
}

.colum ul {
	line-height: 1.7;
	padding-left: 0;
}

.colum li {
	list-style: none;
}
.colum a {
	text-decoration: none;
	color: #ccc;
}

.colum h5 {
	color: white;
	font-size: 20px;
	margin-bottom: 0;
	font-weight: bold;
}

.footer-copyright {
	background-color: #222425;
	width: 100%;
	text-align: center;
}
.footer-copyright p {
	padding: 20px;
	margin: 0;
	color: #ccc;
	text-align: center;
	box-sizing: border-box;
}

@media (min-width: 366px) and (max-width: 767px) {
	.container {
		width: 100%;
		display: block;
		height: 100vh;
		padding: 1px;
	}
	.colum ul {
		line-height: 1.2;
		padding-left: 0;
		margin-top: 10px;
	}
	.colum li {
		width: 170%;
	}
	.colum h5 {
		width: 130%;
	}
}

@media (min-width: 160px) and (max-width: 365px) {
	.container {
		width: 100%;
		display: block;
		height: 100vh;
		padding: 1px;
	}
	.colum ul {
		line-height: 1.2;
		padding-left: 0;
		margin-top: 10px;
		width: 150%;
	}
	.colum li {
		width: 150%;
	}

	.colum h5 {
		width: 130%;
	}
}
