
//Colors
$color1: #2d485e;
$color2: #2e628c;
$color3: #0a5da1;
$color4: #595d61;
$color5: #edf3f7;
$color6: #ffffff;
//Fonts

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: black;
  margin: 0;
  
}

.link {
  text-decoration: none;
}
